.header {
	display: flex;
	align-items: baseline;
	& > h1 {
		font-size: 16pt;
		margin: 0 18px 12px 0;
	}
	.topButtons {
		display: flex;
		@media (max-width: 480px) {
			flex-direction: column;
			gap: 6px;
		}
		.addNew {
			margin-left: 12px;
			white-space: nowrap;
		}
	}
	.repo {
		align-self: center;
		&:hover {
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1.2);
		}
		& > img {
			width: 22px;
			padding-left: 10px;
		}
	}
}
