* {
	font-family: 'Segoe UI', sans-serif;
	font-size: 10pt;
}

/*********************************************************************** App **/
.App-header {
	display: flex;
	align-items: baseline;
	& > h1 {
		font-size: 16pt;
		margin: 0 18px 12px 0;
	}
	.App-topButtons {
		display: flex;
		@media (max-width: 480px) {
			flex-direction: column;
			gap: 6px;
		}
		.App-addNew {
			margin-left: 12px;
			white-space: nowrap;
		}
	}
	.App-repo {
		align-self: center;
		&:hover {
			transform: scale(1.1);
		}
		&:active {
			transform: scale(1.2);
		}
		& > img {
			width: 22px;
			padding-left: 10px;
		}
	}
}

/**************************************************************** GuitarList **/
.GuitarList-block {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 0;
}

/******************************************************************** Guitar **/
.Guitar-box {
	padding: 2px 1px;
	border: 1px solid #ddd;
	&.Guitar-color0 { border-top: 4px solid #36a2eb; }
	&.Guitar-color1 { border-top: 4px solid #ff6384; }
	&.Guitar-color2 { border-top: 4px solid #ff9f40; }
	&.Guitar-color3 { border-top: 4px solid #ffcd56; }
	&.Guitar-color4 { border-top: 4px solid #4bc0c0; }
	&.Guitar-color5 { border-top: 4px solid #9966ff; }
	&.Guitar-color6 { border-top: 4px solid #c9cbcf; }

	& > div {
		padding: 3px 6px;
	}
	.Guitar-topRow {
		display: flex;
		gap: 6px;
		align-items: baseline;
		justify-content: space-between;
		.Guitar-name {
			font-size: 115%;
		}
		.Guitar-topBtns {
			display: flex;
			gap: 6px;
		}
	}
	.Guitar-tuningSum {
		display: flex;
		justify-content: space-between;
		padding-right: 9px;
	}
	.Guitar-stringRow {
		display: grid;
		grid-template-columns: repeat(4, auto);
	}
}

/***************************************************************** LineChart **/
.LineChart-chart {
	max-width: 100vw;
	max-height: 240px;
}

/********************************************************************* Scale **/
.Scale-row {
	display: flex;
	gap: 6px;
	align-items: baseline;
}

/***************************************************************** StringRow **/
.StringRow-elem {
	margin: 2px 3px;
	&.StringRow-name {
		width: 26px;
	}
	&.StringRow-modif {
		padding: 1px;
		&.StringRow-yesModif {
			border: 1px solid red;
		}
		&.StringRow-noModif {
			border: 1px solid white;
		}
	}
	.StringRow-tension {
		width: 3.5em;
		text-align: right;
	}
}

/***************************************************************** Summation **/
.Summation-tension {
	width: 3.5em;
	text-align: right;
}
